name: Release

on:
  push:
    tags:
    - v[0-9]+.[0-9]+**

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: lufia/workflows/.github/actions/setup-multiarch@862187051b3e08cb09915314465eeec8cfefe569 # v0.9.0
      with:
        arch: arm64
    - name: setup dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-aarch64-linux-gnu
        sudo apt-get install -y libsystemd-dev libsystemd-dev:arm64
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: build artifacts (amd64)
      run: |
        make
        zip check-journal_linux_amd64.zip check-journal
        make nuke
    - name: build artifacts (arm64)
      run: |
        make CC=aarch64-linux-gnu-gcc
        zip check-journal_linux_arm64.zip check-journal
        make nuke
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: artifacts
        path: "*.zip"

  deploy:
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        path: artifacts
        merge-multiple: true
    - name: release
      run: |
        gh release create "$TAG" \
          --title="$TAG" \
          --generate-notes \
          --draft artifacts/*.zip
      env:
        TAG: ${{ github.ref_name }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
