name: Release

on:
  push:
    tags:
    - v[0-9]+.[0-9]+**

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: lufia/workflows/.github/actions/setup-multiarch@77b285fcfe013c0e99b18ca23b0c9d575bd4327a # v0.8.0
      with:
        arch: arm64
    - name: setup dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-aarch64-linux-gnu
        sudo apt-get install -y libsystemd-dev libsystemd-dev:arm64
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: build artifacts (amd64)
      run: |
        make
        zip check-journal_linux_amd64.zip check-journal
        make nuke
    - name: build artifacts (arm64)
      run: |
        make CC=aarch64-linux-gnu-gcc
        zip check-journal_linux_arm64.zip check-journal
        make nuke
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts
        path: "*.zip"

  deploy:
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        path: artifacts
        merge-multiple: true
    - name: release
      run: |
        gh release create "$TAG" \
          --title="$TAG" \
          --generate-notes \
          --draft artifacts/*.zip
      env:
        TAG: ${{ github.ref_name }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
